<style>
.button {
  background-color: white;
  font-family: courier;
  color: black;
  border: 2px solid #555555;
}

.button:hover {
  background-color: #555555;
  color: white;
}
    </style>
{{#if userContext}}
  <h1 class="text-center">Hi {{userContext.userinfo.given_name}}!</h1>
  <div class="d-flex justify-content-center">
    <img class="rounded img-fluid" src="/static/images/logo.jpg" />
  </div>
{{else}}
  <div class="d-flex justify-content-center">
    <img class="rounded img-fluid" src="/static/images/logo.jpg" />
    </div>

  <h1 class="text-center" style="font-family:courier;">Log In Below</h1>
  <center>
    <button id="loginButton" onclick="href= '/login';" class="button button">Log in!</button>
</center>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{{/if}}


